body {
  font-family: Arial, sans-serif;
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:#0d1117;
  color:white;
  width:100vw;
  height:max-content;
}

h2 {
  font-size:16px;
}

#board {
  width: 238px; /* 14 × 40px */
  height: 238px;
  display: grid;
  grid-template-columns: repeat(14, 17px);
  grid-template-rows: repeat(14, 17px);
  border: 2px solid #888;
  padding:0px;
}

.tile {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  user-select: none;
}

.piece {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.piece.selected {
  outline: 2px solid yellow;
}
.pawn { background: black; }
.rook { background: brown; }
.bishop { background: purple; }
.queen { background: darkred; }
.king { background: gold; }
.knight { background: darkgreen; }


.tile.inactive {
  background: #888; /* gray */
  pointer-events: none; /* optional, prevents clicks */
  opacity: 0.3;
}

.light-tile {
  background-color:#c7ced6;
}
